
Django
django-crispy-forms
django-user-agents
Pillow
reportlab
PyPDF2
django-storages[google]
django-environ
psycopg2-binary
gunicorn
google-cloud-secret-manager
#pywin32
#pypiwin32
#pycups
#cmake
#pip install wheel setuptools pip --upgrade

