{% load static %}





<table class="table m-0">
    <thead>
        <tr class="align-middle bg-tercero">
            <th>Foto</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Email</th>
            <th>Numero</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>

    </thead>
    <tbody>

        {% for empleado in employees %}
        <tr class="align-middle">
            <td class="bg-cuarto">

                {% if empleado.url %}
                <img src="{{empleado.url.url}}" class="rounded-2 img-fluid" id="imgPerfil"
                    style="width: 50px;height: 50px;">
                {% else %}
                <img src="https://vectorified.com/images/no-profile-picture-icon-8.jpg" id="imgPerfil"
                    class="rounded-5 img-fluid" style="width: 50px;height: 50px;">

                {% endif %}

            </td>


            <td class="bg-cuarto">{{empleado.first_name}}</td>
            <td class="bg-cuarto">{{empleado.rol}}</td>
            <td class="bg-cuarto">{{empleado.email}}</td>
            <td class="bg-cuarto">{{empleado.phone_number}}</td>
            <td class="bg-cuarto"><a href="{% url 'Empleados:empleadosEditar' empleado.id %}"
                    class="text-quinto">Modificar empleado</a>
            </td>
            <td class="bg-cuarto text-secondary"><a type="button" class="text-secondary" href="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal{{empleado.id}}">Eliminar
                    empleado</a></td>
        </tr>


        <div class="modal fade" id="exampleModal{{empleado.id}}" tabindex="-1"
            aria-labelledby="exampleModalLabel{{empleado.id}}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Seguro que deseas eliminar a
                            {{empleado.first_name}}?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="py-3">
                                    <h2>Escribe "Eliminar" para habilitar el botón
                                    </h2>
                                </div>
                                <input type="text" name="" id="inputEliminar{{empleado.id}}"
                                    onkeyup="checkText({{empleado.id}})" class="w-50 rounded rounded-3 py-2">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</a>
                        <a type="button" href="{% url 'Empleados:empleadosEliminar' empleado.id %}" class="btn disabled"
                            id="botonEliminar{{empleado.id}}" style="background-color: red;color: white;"
                            disabled>Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </tbody>
</table>




<input type="hidden" name="totalPaginas" id="totalPaginas" value="{{totalPaginas}}">