{% extends 'layout/layout.html' %}
{% load static %}
{% block body %}

<div class="container">
    <h1>Lista de empleados</h1>

    <div class="row">
        <div class="col-2 d-flex">
            <a href="{% url 'Empleados:empleadosCrear' %}" class="rounded-5 text-white py-2 px-3"
                style="background-color: #199fd6;">
                Agregar empleado
            </a>
        </div>
        <div class="col-5 d-flex justify-content-center align-items-center">
            <div class="input-group">

                <input type="text" class="form-control" placeholder="Buscar empleado por nombre" aria-label=""
                    aria-describedby="basic-addon1" id="searchBar" onkeyup="getCardsReplace(this.value)">
            </div>
        </div>




    </div>
    <div id="cardHolder">
    </div>


</div>


<script src="{% static 'js/employeesAjaxSearch.js' %}"></script>

{% endblock %}