{% extends 'layout/layout.html' %}
{% load static %}
{% block body %}

<div class="container">
    <div class="row py-3">
        <h1>Ventas abiertas</h1>
        <div class="col-3">
            <form action="{% url 'Ventas:ventasCrear' %}" method="POST" enctype="multipart/form-data"
                id="user-profile-form">
                {% csrf_token %}
                <button class="btn rounded rounded-3" style="border-color: #a72545;color:#3b2a21" type="submit">Crear
                    Venta <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <circle opacity="0.5" cx="12" cy="12" r="10" stroke="#a72545" stroke-width="1.5"></circle>
                            <path d="M15 12L12 12M12 12L9 12M12 12L12 9M12 12L12 15" stroke="#a72545" stroke-width="1.5"
                                stroke-linecap="round"></path>
                        </g>
                    </svg></button>

            </form>
        </div>
        <div class="col-3">
            <button>Buscar venta
            </button>
        </div>
    </div>
    <div class="row">

        {% for venta in ventas %}

        <div class="col-12 col-sm-3">
            <div class="card rounded rounded-4 bg-tercero"">
                <div class=" card-body ">
                    <p class=" card-text">Cliente: {% if venta.cliente.nombre %} {{venta.cliente.nombre}}
                {% else %} Por
                asignar {% endif %}</p>

                <p class="card-text">Empleado: {% if venta.empleado.first_name %} {{venta.empleado.first_name}}
                    {% else %} Por
                    asignar {% endif %}</p>
                <p class="card-text">Fecha: {{venta.fecha_compra|date:"[d - M / H:i]"}} </p>
                <p class="card-text">Total de venta: {{venta.total}} </p>

                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'Ventas:modificarVenta' venta.id %}"
                            class="card-link btn w-100 text-white btn-secondary">Modificar
                        </a>
                    </div>
                    <div class="col-6">

                        <form action="{% url 'Ventas:cerrarVenta' venta.id %}" method="POST"
                            enctype="multipart/form-data" id="user-profile-form">
                            {% csrf_token %}
                            <a class="card-link btn w-100 btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal{{venta.id}}">Cerrar</a>

                            <div class="modal fade" id="exampleModal{{venta.id}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">¿Esta seguro de
                                                cerrar la cuenta de
                                                {{venta.cliente.nombre}} ?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-primary">Cerrar cuenta</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->

    <!-- Modal -->


    {% endfor %}


</div>

</div>


{% endblock %}