{% extends 'layout/layout.html' %}
{% load static %}
{% block body %}

<div class="container">
    <div class="row">
        <h1>Ventas abiertas</h1>
        <div class="col-3">
            <form action="{% url 'Ventas:ventasCrear' %}" method="POST" enctype="multipart/form-data"
                id="user-profile-form">
                {% csrf_token %}
                <button class="btn rounded rounded-3 border border-3" type="submit">Crear Venta</button>

            </form>
        </div>
        <div class="col-3">
            <button>Buscar venta
            </button>
        </div>
        <div class="row">

            {% for venta in ventas %}

            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Cliente: {% if venta.cliente.first_name %} {{venta.cliente.first_name}}
                            {% else %} Por
                            asignar {% endif %}</p>

                        <p class="card-text">Empleado: {% if venta.empleado.first_name %} {{venta.empleado.first_name}}
                            {% else %} Por
                            asignar {% endif %}</p>
                        <p class="card-text">Fecha: {{venta.fecha_compra|date:"[d - M / H:i]"}} </p>
                        <p class="card-text">Total de venta: {{venta.total}} </p>

                        <a href="{% url 'Ventas:modificarVenta' venta.id %}" class="card-link btn">Modificar Venta</a>
                        <form action="{% url 'Ventas:cerrarVenta' venta.id %}" method="POST"
                            enctype="multipart/form-data" id="user-profile-form">
                            {% csrf_token %}
                            <button class="card-link btn" type="submit">Cerrar venta</button>

                        </form>
                    </div>
                </div>
            </div>

            {% endfor %}


        </div>
    </div>
</div>


{% endblock %}