{% extends 'layout/layout.html' %}
{% load static %}
{% block body %}
<div class="container min-vh-100 px-4">
        <div class="row pt-5 pb-3">
        <div class="col-xl-3 col-md-4 col-12 my-auto">
            <h1 class="text-quinto">Ventas</h1>
        </div>
    
        {% if user.rol == "Admin" or user.rol == "Dueña/o"%}

        <div class="col-xl-2 col-md-4 col-6 my-auto">
            <a href="{% url 'Ventas:ventasTodas'%}"> <button class="btn rounded rounded-3  bg-quinto text-white w-100 py-2">Buscar
            Venta</button> </a>
        </div>
        {% endif %}

    </div>
                    {% include 'Ventas/map.html' %}


</div>
<div class="container min-vh-100 px-4">
    <div class="col-xl-2 col-md-4 col-6 my-auto">
            <form action=" " method="POST" enctype="multipart/form-data"
                id="user-profile-form"> <!-- { url 'Ventas:ventasCrear' user.id} -->
                {% csrf_token %}
                <button class="btn rounded rounded-3  bg-tercero text-white w-100 py-2" type="submit">Crear
                    Venta </button>

            </form>
        </div>
    <div class="row">

        {% for venta in ventas %}

        <div class="col-12  col-lg-6 col-xl-3 my-3">
            <div class="card rounded rounded-4 border border-secondary bg-white">
                <div class=" card-body text-quinto">
                    <p class=" card-text ">Cliente: {% if venta.cliente.nombre %} {{venta.cliente.nombre}}
                        {% else %} Por
                        asignar {% endif %}</p>
                    <p class="card-text">Mesa: {{venta.mesa }} </p>

                    <p class="card-text">Empleado: {% if venta.empleado.first_name %} {{venta.empleado.first_name}}
                        {% else %} Por
                        asignar {% endif %}</p>
                    <p class="card-text">Fecha: {{venta.fecha_compra|date:"[d - M / H:i]"}} </p>
                    
                    <p class="card-text">Total de venta: ${% if venta.total is None %} 0 {% else %} {{venta.total}}
                        {% endif %} mxn
                    </p>

                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'Ventas:modificarVenta' venta.id %}"
                                class="card-link btn w-100 text-white btn-tercero">Modificar
                            </a>
                        </div>
                        <div class="col-6">

                            <form action="{% url 'Ventas:cerrarVenta' venta.id %}" method="POST"
                                enctype="multipart/form-data" id="user-profile-form">
                                {% csrf_token %}
                                <a class="card-link btn w-100 btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal{{venta.id}}">Cerrar</a>

                                <div class="modal fade" id="exampleModal{{venta.id}}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content bg-cuarto">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">¿Esta seguro de
                                                    cerrar la cuenta de
                                                    {{venta.cliente.nombre}} ?</h5>

                                            </div>

                                            <div class="modal-body">
                                                <button type="button" class="btn btn-tercero text-white "
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-secondary">Cerrar cuenta</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->

        <!-- Modal -->
        {% empty %}
        <div class=" col-sm-12 my-3">
            <h2>No hay ventas abiertas por el momento </h2>
        </div>
        {% endfor %}

       
    </div>

</div>

<script>
window.onload = function() {
   var listaTuplas = [
            {% for tupla in mesasEnUso %}
                [{{ tupla.0 }}, {{ tupla.1 }}],
            {% endfor %}
        ];
        for (var i = 0; i < listaTuplas.length; i++) {
            console.log(listaTuplas[i]);
        }
        
var modificarVentaUrl=""
    for(var i = 0; i < listaTuplas.length;i++){
        enlaceMesa = document.getElementById('mesa'+listaTuplas[i][0])
        modificarVentaUrl = "{% url 'Ventas:modificarVenta' 999 %}".replace("999", listaTuplas[i][1]);
        enlaceMesa.href = modificarVentaUrl

       
    
    }    



};

    
</script>

{% endblock %}
