<div  class="row bg-whiterounded-top border-top border-end border-start border-3 border-quinto bg-white rounded-top">

        <div class="col-4 col-md-2 border-end border-quinto">
            {{venta.id}}
        </div>

        <div class="col-5 col-md-2 border-end border-quinto">
            {{venta.empleado.first_name}}
        </div>
        <div class="col-4 border-end border-quinto d-none d-md-block">
            {{venta.fecha_compra}}
        </div>

        <div class="col-2 border-end border-quinto  d-none d-md-block">
            {% if venta.is_open %} Cuenta abierta {% elif venta.is_reopen %} Cuenta reabierta {% elif not venta.is_reopen or not venta.is_reopen %} Cuenta cerrada {% endif %}
        </div>


        <div class="col-3 col-md-2 border-end border-quinto  ">


            {% if venta.is_open%}
            <form action="{% url 'Ventas:addMesa' venta.id %}" method="POST" enctype="multipart/form-data"
                id="user-profile-form2">
                {% csrf_token %}

                <select class="form-select border border-0 shadow-none py-0" aria-label="Default select example"
                    id="selectMesa" name="mesa">
                    {% for mesa in mesas %}
                    <option {% if venta.mesa == mesa %} selected {% endif %} value="{{ mesa.id }}">{{ mesa.nombre }}
                    </option>
                    {% endfor %}


                </select>

                <div class="d-none">
                    {{form3.mesa}}

                </div>

            </form>
            {% else %}
            <a> Mesa: {{venta.mesa.nombre}}</a>
            {% endif %}






        </div>

    </div>