

<div class="row">
    <div class="col-12 border border-4">
       <div class="row p-3 border border-3 border-primary">
        <div class="col-1 p-0">
  
          

             {% if 11 in mesasEnUso2%}   
          
            <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white" id="mesa11"
                style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
                <b>8B</b>
            </a>
           
             {% else %}
                <form action=" {% url 'Ventas:ventasCrearMesa' '8B'%}" method="POST" enctype="multipart/form-data"
                    id="user-profile-form">
                    {% csrf_token %}
                    <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa11"> <!-- Mesa8B -->
                        <b>8B</b>
                    </button>
                </form>
            {% endif %}

            {% if 10 in mesasEnUso2%}
            
            <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white" id="mesa10"
                style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
                <b>8A</b>
            </a>
            {% else %}
            <form action=" {% url 'Ventas:ventasCrearMesa' '8A'%}" method="POST" enctype="multipart/form-data"
                id="user-profile-form">
                {% csrf_token %}
                <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa10">
                    <b>8A</b>
                </button>
            </form>
            {% endif %}
       
        </div>



 

        <div class="col-2 px-4">
                {% if 9 in mesasEnUso2%}
                
                <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                    id="mesa9" style="width: 100px;height: 232px; display: flex;  align-items: center;  justify-content: center;">
                    <b>8</b>
                </a>
                {% else %}
                <form action=" {% url 'Ventas:ventasCrearMesa' '8'%}" method="POST" enctype="multipart/form-data"
                    id="user-profile-form">
                    {% csrf_token %}
                    <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 232px;" id="mesa9">
                        <b>8</b>
                    </button>
                </form>
                {% endif %}
        
        </div>



        
        <div class="col-2 px-4">
            {% if 12 in mesasEnUso2%}
            
            <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                id="mesa12" style="width: 100px;height: 232px; display: flex;  align-items: center;  justify-content: center;">
                <b>9</b>
            </a>
            {% else %}
            <form action=" {% url 'Ventas:ventasCrearMesa' '9'%}" method="POST" enctype="multipart/form-data"
                id="user-profile-form">
                {% csrf_token %}
                <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 232px;" id="mesa12">
                    <b>9</b>
                </button>
            </form>
            {% endif %}
        
        </div>
        <div class="col-1 p-0 ">
                {% if 14 in mesasEnUso2%}
                
                <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                    id="mesa14" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
                
                    <b>9B</b>
                </a>
                {% else %}
                <form action=" {% url 'Ventas:ventasCrearMesa' '9B'%}" method="POST" enctype="multipart/form-data"
                    id="user-profile-form">
                    {% csrf_token %}
                    <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa14">
                        <b>9B</b>
                    </button>
                </form>
                {% endif %}
                {% if 13 in mesasEnUso2%}
                
                <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                    id="mesa13"            style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">

                    <b>9A</b>
                </a>
                {% else %}
                <form action=" {% url 'Ventas:ventasCrearMesa' '9A'%}" method="POST" enctype="multipart/form-data"
                    id="user-profile-form">
                    {% csrf_token %}
                <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa13">
                        <b>9A</b>
                    </button>
                </form>
                {% endif %}
        </div>
        <div class="col-5 ">

        </div>
        
 


        <div class="col-1 p-0 ">
                    {% if 1 in mesasEnUso2%}
                    
                    <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                        id="mesa1" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
                    
                        <b>1A</b>
                    </a>
                    {% else %}
                    <form action=" {% url 'Ventas:ventasCrearMesa' '1A'%}" method="POST" enctype="multipart/form-data"
                        id="user-profile-form">
                        {% csrf_token %}
                        <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa1">
                            <b>1A</b>
                        </button>
                    </form>
                    {% endif %}
                    {% if 2 in mesasEnUso2%}
                    
                    <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                        id="mesa2" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
                    
                        <b>1B</b>
                    </a>
                    {% else %}
                    <form action=" {% url 'Ventas:ventasCrearMesa' '1B'%}" method="POST" enctype="multipart/form-data"
                        id="user-profile-form">
                        {% csrf_token %}
                        <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa2">
                            <b>1B</b>
                        </button>
                    </form>
                    {% endif %}
                   
                
                </div>
   
        <div class="col-2 p-0 px-2 my-2">
        {% if 8 in mesasEnUso2%}
        
        <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
            id="mesa8" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
        
            <b>7</b>
        </a>
        {% else %}
        <form action=" {% url 'Ventas:ventasCrearMesa' '7'%}" method="POST" enctype="multipart/form-data"
            id="user-profile-form">
            {% csrf_token %}
            <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa8">
                <b>7</b>
            </button>
        </form>
        {% endif %}
    
        </div>
        <div class="col-2 p-0 px-2 my-2">
            {% if 7 in mesasEnUso2%}
            
            <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                id="mesa7" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
            
                <b>6</b>
            </a>
            {% else %}
            <form action=" {% url 'Ventas:ventasCrearMesa' '6'%}" method="POST" enctype="multipart/form-data"
                id="user-profile-form">
                {% csrf_token %}
                <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa7">
                    <b>6</b>
                </button>
            </form>
            {% endif %}
    
        </div>
        <div class="col-2 p-0 px-2 my-2 ">
            {% if 6 in mesasEnUso2%}
            
            <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                id="mesa6" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
            
                <b>5</b>
            </a>
            {% else %}
            <form action=" {% url 'Ventas:ventasCrearMesa' '5'%}" method="POST" enctype="multipart/form-data"
                id="user-profile-form">
                {% csrf_token %}
                <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa6">
                    <b>5</b>
                </button>
            </form>
            {% endif %}
    
        </div>
    <div class="col-2">
    
    </div>
<div class="col-1  p-0 me-3">
    {% if 5 in mesasEnUso2%}
    
    <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
        id="mesa5" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
    
        <b>4</b>
    </a>
    {% else %}
    <form action=" {% url 'Ventas:ventasCrearMesa' '4'%}" method="POST" enctype="multipart/form-data"
        id="user-profile-form">
        {% csrf_token %}
        <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa5">
            <b>4</b>
        </button>
    </form>
    {% endif %}

</div>

<div class="col-1 p-0 me-3">
    {% if 4 in mesasEnUso2%}
    
    <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
        id="mesa4" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
    
        <b>3</b>
    </a>
    {% else %}
    <form action=" {% url 'Ventas:ventasCrearMesa' '3'%}" method="POST" enctype="multipart/form-data"
        id="user-profile-form">
        {% csrf_token %}
        <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa4">
            <b>3</b>
        </button>
    </form>
    {% endif %}

</div>
<div class="col-1 p-0">
    {% if 3 in mesasEnUso2%}
    
    <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
        id="mesa3" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
    
        <b>2</b>
    </a>
    {% else %}
    <form action=" {% url 'Ventas:ventasCrearMesa' '2'%}" method="POST" enctype="multipart/form-data"
        id="user-profile-form">
        {% csrf_token %}
        <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa3">
            <b>2</b>
        </button>
    </form>
    {% endif %}

</div>
       </div>

      
        <div class="row p-3 border-bottom border-end border-start border-3 border-primary">
                <div class="col-1 p-0 text-center">
                {% if 24 in mesasEnUso2%}
                
                <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                    id="mesa24" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
                
                    <b>6B</b>
                </a>
                {% else %}
                <form action=" {% url 'Ventas:ventasCrearMesa' '6B'%}" method="POST" enctype="multipart/form-data"
                    id="user-profile-form">
                    {% csrf_token %}
                    <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa24">
                        <b>6B</b>
                    </button>
                </form>
                {% endif %}
                {% if 23 in mesasEnUso2%}
                
                <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                    id="mesa23" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
                
                    <b>6A</b>
                </a>
                {% else %}
                <form action=" {% url 'Ventas:ventasCrearMesa' '6A'%}" method="POST" enctype="multipart/form-data"
                    id="user-profile-form">
                    {% csrf_token %}
                    <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa23">
                        <b>6A</b>
                    </button>
                </form>
                {% endif %}
            </div>
            <div class="col-2 text-center">
            {% if 22 in mesasEnUso2%}
            
            <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                id="mesa22" style="width: 100px;height: 232px; display: flex;  align-items: center;  justify-content: center;">
                <b>T6</b>
            </a>
            {% else %}
            <form action=" {% url 'Ventas:ventasCrearMesa' 'T6'%}" method="POST" enctype="multipart/form-data"
                id="user-profile-form">
                {% csrf_token %}
                <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 232px;" id="mesa22">
                    <b>T6</b>
                </button>
            </form>
            {% endif %}
           
            </div>
          
                <div class="col-2 text-center">
                {% if 25 in mesasEnUso2%}
                
                <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                    id="mesa25" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
                
                    <b>T7</b>
                </a>
                {% else %}
                <form action=" {% url 'Ventas:ventasCrearMesa' 'T7'%}" method="POST" enctype="multipart/form-data"
                    id="user-profile-form">
                    {% csrf_token %}
                    <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa25">
                        <b>T7</b>
                    </button>
                </form>
                {% endif %}
                    {% if 21 in mesasEnUso2%}
                    
                    <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                        id="mesa21" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
                    
                        <b>T5</b>
                    </a>
                    {% else %}
                    <form action=" {% url 'Ventas:ventasCrearMesa' 'T5'%}" method="POST" enctype="multipart/form-data"
                        id="user-profile-form">
                        {% csrf_token %}
                        <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa21">
                            <b>T5</b>
                        </button>
                    </form>
                    {% endif %}
            </div>
            <div class="col-3 ">
            
            </div>
            <div class="col-2 text-center">
                    {% if 15 in mesasEnUso2%}
                    
                    <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                        id="mesa15" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
                    
                        <b>T1</b>
                    </a>
                    {% else %}
                    <form action=" {% url 'Ventas:ventasCrearMesa' 'T1'%}" method="POST" enctype="multipart/form-data"
                        id="user-profile-form">
                        {% csrf_token %}
                        <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa15">
                            <b>T1</b>
                        </button>
                    </form>
                    {% endif %}
                        {% if 20 in mesasEnUso2%}
                        
                        <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                            id="mesa20" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
                        
                            <b>T4</b>
                        </a>
                        {% else %}
                        <form action=" {% url 'Ventas:ventasCrearMesa' 'T4'%}" method="POST" enctype="multipart/form-data"
                            id="user-profile-form">
                            {% csrf_token %}
                            <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa20">
                                <b>T4</b>
                            </button>
                        </form>
                        {% endif %}
            </div>
          
            <div class="col-2 text-center">
                        {% if 18 in mesasEnUso2%}
                        
                        <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                            id="mesa18" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
                        
                            <b>T2</b>
                        </a>
                        {% else %}
                        <form action=" {% url 'Ventas:ventasCrearMesa' 'T2'%}" method="POST" enctype="multipart/form-data"
                            id="user-profile-form">
                            {% csrf_token %}
                            <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa18">
                                <b>T2</b>
                            </button>
                        </form>
                        {% endif %}
                    {% if 19 in mesasEnUso2%}
                    
                    <a href="{% url 'Ventas:modificarVenta' 0 %}" class="btn border border-3 mb-3 bg-corporateYellow800 text-white"
                        id="mesa19" style="width: 100px;height: 100px; display: flex;  align-items: center;  justify-content: center;">
                    
                        <b>T3</b>
                    </a>
                    {% else %}
                    <form action=" {% url 'Ventas:ventasCrearMesa' 'T3'%}" method="POST" enctype="multipart/form-data"
                        id="user-profile-form">
                        {% csrf_token %}
                        <button class="btn border border-3 mb-3 bg-primary text-white" style="width: 100px;height: 100px;" id="mesa19">
                            <b>T3</b>
                        </button>
                    </form>
                    {% endif %}
            </div>
       </div>
    </div>
</div>