{% extends 'layout/layout.html' %}
{% load static %}

{% block body %}

<style>
    .animated {
        animation-duration: 1s;
        animation-name: pepito ;
    }

@keyframes pepito {
    from {
        margin-top: 100%; /* Comienza desde abajo */
        height: 300%; /* Aumenta la altura */
    }
    to {
        margin-top: 0%; /* Llega a la posición inicial */
        height: 100%; /* Altura original */
    }
}

    
</style>

<div class="container min-vh-100  py-4">
   

    <div
        class="row bg-whiterounded-top border-top border-end border-start border-3 border-quinto bg-white  rounded-top">

        <div class="col-4 col-md-2 border-end border-quinto">
            <form action="{% url 'Ventas:addCliente' venta.id%}" method="POST" enctype="multipart/form-data"
                id="user-profile-form">
                {% csrf_token %}
                {% if venta.is_reopen%}
                {{venta.cliente}}

                {% else %}
                <div class="input-group">

                    <div class="dropdown">

                        <input type="text" class="form-control shadow-none p-0 border border-0 "
                            placeholder="Buscar cliente" aria-label="" aria-describedby="basic-addon1" id="searchBar"
                            list="cardHolder" data-bs-toggle="dropdown" onkeyup="getCardsReplace(this.value)"
                            id="dropdownMenuLink"
                            value="{% if venta.cliente %} {{venta.cliente}} {% else %} Sin cliente {% endif %}">


                        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink" id="cardHolder">

                        </ul>
                        <div class="d-none">
                            {{form.cliente}}
                        </div>
                    </div>

                </div>

                {% endif %}
            </form>
        </div>

        <div class="col-5 col-md-2 border-end border-quinto">
            {{venta.empleado.first_name}}
        </div>
        <div class="col-4 border-end border-quinto d-none d-md-block">
            {{venta.fecha_compra}}
        </div>

        <div class="col-2 border-end border-quinto  d-none d-md-block">
            {% if venta.is_open %} {% if venta.is_reopen%} Cuenta reabierta {% else %} Cuenta abierta {% endif %}
            {% else %} Cuenta cerrada {% endif %}
        </div>


        <div class="col-3 col-md-2 border-end border-quinto  ">



            <form action="{% url 'Ventas:addMesa' venta.id %}" method="POST" enctype="multipart/form-data"
                id="user-profile-form2">
                {% csrf_token %}
                {% if venta.is_reopen %}
                {{ venta.mesa }}
                {% else %}
                <select class="form-select border border-0 shadow-none py-0" aria-label="Default select example"
                    id="selectMesa" name="mesa">
                    {% if venta.mesa %}
                    {% for mesa in mesas %}
                    <option {% if venta.mesa == mesa %} selected {% endif %} value="{{ mesa.id }}">{{ mesa.nombre }}
                    </option>
                    {% endfor %}
                    {% else %}
                    <option selected value="0">NA
                    </option>
                    {% for mesa in mesas %}
                    <option value="{{ mesa.id }}">{{ mesa.nombre }}
                    </option>
                    {% endfor %}
                    {% endif %}

                </select>
                {% endif %}
                <div class="d-none">
                    {{form3.mesa}}

                </div>

            </form>







        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Capturar el cambio en el select
            $('#selectMesa').on('change', function () {
                // Obtener el valor seleccionado en el select
                var selectedValue = $(this).val();

                // Establecer el valor en el campo del formulario 'mesa'
                $('#id_mesa').val(selectedValue);
                $('#user-profile-form2').submit();

            });
        });
    </script>


    <div class="row">
        <div class="col-12 p-0">
            <div class="table-responsive">
                <table class="table border border-3 table-hover table-bordered border-quinto table-sm">
                    <thead class="bg-tercero text-white">
                        <th class="d-none d-sm-table-cell">Imagen</th>

                        <th>Platillo</th>
                        <th>Observaciones</th>

                        <th class="d-none d-sm-table-cell">Precio</th>
                        <th>Extras</th>
                        <th>Cantidad</th>
                        <th class="d-none d-sm-table-cell">Total</th>
                    </thead>
                    <tbody>

                        {% for list,publications in lista%}
                 
                        <tr data-bs-toggle="modal" data-bs-target="#exampleModal{{list.id}}">

                            <td class="align-middle border border-0 d-none d-sm-table-cell" style=" width: 75px;height:75px">
                                <img src="{{list.menu.url.url}}" alt="" width="90px" height="90px">
                                {% if list.pizza_mitad %}
                                <img src="{{list.pizza_mitad.url.url}}" alt="" width="90px" height="90px">
                                {% endif %}
                            </td>
                        
                            <td class="align-middle  text-center">
                        
                                {% if list.media_orden %}
                                <p>Media Orden:</p>
                        
                                {% endif %}
                                {% if list.familiar %}
                                <p>Pizza Familiar</p>
                        
                                {% endif %}
                                {% if list.pizza_mitad %}
                                Mitad:
                                {% endif %}
                                {{list.menu}}
                                {% if list.pizza_mitad %}
                                <p>Mitad: {{list.pizza_mitad}}
                                </p> {% endif %}
                            </td>
                            <td class="align-middle">
                        
                                <p class=" text-break">
                        
                                    {{list.observaciones}}</p>
                            </td>
                            <td class="align-middle text-center d-none d-sm-table-cell" style="width: 200px;">
                                {% if list.menu.categoria == "Pizza" %}
                                {% if list.familiar %}
                                {% if list.pizza_mitad %}
                                {% if list.pizza_mitad.precioFamiliar < list.menu.precioFamiliar %} ${{list.menu.precioFamiliar}} mxn {% else %}
                                    $ {{list.pizza_mitad.precioFamiliar}} mxn {% endif %} {% else %} ${{list.menu.precioFamiliar}} mxn {% endif%} 
                                    {% else %} {% if list.pizza_mitad %} {% if list.pizza_mitad.precio < list.menu.precio %} $
                                    {{list.menu.precio}} mxn {% else %} $ {{ list.pizza_mitad.precio }} mxm {% endif %} {% else %} $ 
                                    {{list.menu.precio }} mxn {% endif %} {% endif %} {% else %} <!-- -->
                                    {% if list.media_orden %} $ {{list.menu.mediaOrden}} mxn {% else %} $
                                    {{list.menu.precio}}
                                    mxn {% endif %} {% endif %} </td>
                            <td class="align-middle text-center">
                                {% for ingrediente in list.extras.all %}
                                <div class="col-auto">
                                    <p>{{ ingrediente.nombre }}
                                        {% if list.familiar %}
                                        ${{ ingrediente.precioFamiliar }}
                                        {% else %}
                                        ${{ ingrediente.precio }}
                                        {% endif %}
                                    </p>
                        
                                </div>
                        
                        
                                {% endfor %}
                            </td>
                            <td class="align-middle  text-center">
                        
                        
                                <div class="plus-minus-input">
                                    {% if venta.is_open %}
                        
                                    <div class="input-group-button my-auto">
                        
                                        <a onclick="incrementValue({{list.id}})" data-field="quantity1" class="p-1"
                                            href="{% url 'Ventas:guardarCambios' venta.id list.id 'suma' %}" id="plus{{list.id}}" class="btn"><i
                                                class="fa fa-plus text-primary" aria-hidden="true"></i>
                                        </a>
                        
                                    </div>
                                    {% endif %}
                        
                                    <input class="input-group-field border rounded rounded-4 text-center" type="number" name="quantity"
                                        value="{{list.cantidad}}" style="width: 50px;" id="input{{list.id}}" disabled>
                                    {% if venta.is_open %}
                                    <div class="input-group-button my-auto">
                        
                                        <a onclick="decrementValue({{list.id}})" data-field="quantity1" class="p-1"
                                            href="{% url 'Ventas:guardarCambios' venta.id list.id 'resta' %}" id="minus{{list.id}}"
                                            class="btn"><i class="fa fa-minus text-secondary" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    {% endif %}
                        
                                </div>
                            </td>
                            <td class="align-middle text-center d-none d-sm-table-cell">
                               
                                $ {{list.totalfinal}}
                            </td>
                        </tr>
                
                                        <form action="{% url 'Ventas:updateRow' list.id venta.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                        <div class="modal fade" id="exampleModal{{list.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modificar {{list.menu.nombre}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <p>Menu</p>
                                    {{publications.menu}}
                                    <p>Cantidad</p>
                                    {{publications.cantidad}}
                                    <p>Observaciones</p>
                                    {{publications.observaciones}}
                                   <p>Extras</p>
                                    {{publications.extras}}
                                    <p>¿Es media orden?</p>
                                    {{publications.media_orden}}
                                    <p>¿Es un alimento familiar?</p>
                                    {{publications.familiar}}
                                        <p>Mitad de la otra pizza</p>
                                    {{publications.pizza_mitad}}
                              

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                            </form>

                        {% endfor %}






                        <tr class="d-none d-sm-table-row">
                            <th class="bg-quinto"></th>
                            <th class="bg-quinto"></th>
                            <th class="bg-quinto "></th>
                            <th class="bg-quinto"></th>
                            <th class="bg-quinto"></th>
                            <th class="bg-quinto"></th>


                            <th class="bg-primary text-white" style="width: 200px">Total: $ {{total}}
                            </th>
                        </tr>
                        <tr class="d-block d-sm-none d-table-row">
                            <th class="bg-quinto"></th>

                            <th class="bg-quinto"></th>
                            <th class="bg-quinto text-white">Total: $</th>


                            <th class="bg-primary text-white"> {{total}}
                            </th>
                        </tr>
                    </tbody>

                </table>
                <div class="container"> <!-- Contenedor  -->
                    <div id="dynamic-forms-container">

                    </div>
                 
                </div>
            </div>

        </div>
    </div>
    {% if venta.is_open%}
    <div class="row ">
        <div class="col-6 col-md-2 text-center">
            <button onclick="agregarFormulario()" class="btn btn-tercero text-white w-100">Agregar venta</button>

        </div>
        <div class="col-6 col-md-2 text-center">
            <form action="{% url 'Ventas:cerrarVenta' venta.id %}" method="POST" enctype="multipart/form-data"
                id="user-profile-form">
                {% csrf_token %}
                <a class="btn btn-secondary text-white w-100" data-bs-toggle="modal" data-bs-target="#cerraModal">Cerrar
                    venta</a>



                <div class="modal fade" id="cerraModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-cuarto">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{% if venta.is_reopen %} ¿Esta
                                    seguro de
                                    volver a cerrar la cuenta de
                                    {{venta.cliente.nombre}} ?
                                    {% else %} ¿Esta seguro de
                                    cerrar la cuenta de
                                    {{venta.cliente.nombre}} ? {% endif %} </h5>
                            </div>
                            {% if not venta.is_reopen%}
                            <div class="modal-body">
                                <h4 class="text-secondary">¡UNA VEZ CERRADA NO
                                    PODRAS CAMBIAR AL
                                    CLIENTE!
                                </h4>
                                <h4>
                                    El total de la venta es $ {{total}} mxn
                                </h4>

                            </div>
                            {% endif %}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-tercero text-white "
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-secondary">Cerrar cuenta</button>
<!--                                 <a href="{% url 'Ventas:ticket' venta.id %}" type="button" class="btn text-white" style="background-color: blue;">Imprimir ticket</a> -->
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-2">
        <button id="submit-all-forms-button" class="btn btn-quinto text-white  w-100" type="submit">Enviar formularios</button>

        </div>
      
    </div>
    {% else %}
    <div class="row justify-content-end w-100">
        <div class="col-5 col-md-2 text-center">
            <form action="{% url 'Ventas:abrirVenta' venta.id %}" method="POST" enctype="multipart/form-data"
                id="user-profile-form">
                {% csrf_token %}

                <button href="" type="submit" class="btn btn-tercero w-100 text-white">Reabrir
                    venta</button>
            </form>

        </div>

    </div>
    {% endif %}
</div>



<div class="container d-none">
<form  method="POST" enctype="multipart/form-data" id="formVenta" class="animated">
    {% csrf_token %}
    <div class="row border border-4 rounded rounded-4 border-quinto p-2">
        <div id="formCounterID" class="d-none">

        </div>


        <div class="row py-3">
            <div class="col-5">
                <div class="rounded rounded-3 border border-2 border-primary">
            
            
                    <input type="text" class="form-control shadow-none  px-2 py-1 border border-0 rounded rounded-3"
                        placeholder="Buscar platillo" aria-label="" aria-describedby="basic-addon1" id="searchBarMenu_"
                        name="menu_text" list="cardHolder2_" data-bs-toggle="dropdown" onkeyup="getCardsReplace2(this.value,1,this)"
                        value="">
            
            
                    <ul class="dropdown-menu" aria-labelledby="searchBarMenu_" id="cardHolder2_">
            
                    </ul>
                    <div class="d-block">
                        <select name="menu" class="form-control shadow-none  d-block px-2 py-1" placeholder=" Breve descripción*"
                            rows="1" aria-label="Username" aria-describedby="basic-addon1" style="border-left:none" required=""
                            id="id_menu_">
                                {% for men in menu%}
                                <option value="{{men.id}}">{{men.nombre}}</option>
                                {% endfor %}
                        </select>
            
                    </div>
            
                </div>
            
            
            </div>
                <div class="col-1 my-auto">
                    <p class="m-0">Mitad:</p>
                
                </div>
                <div class="col-1 my-auto text-center">
                    <input type="checkbox" name="mitad_pizza" style="height:40px;width:40px" class="my-auto" id="mitad_pizza_" value=""
                        onclick="show(this)">
                
                </div>
            <div class="col-5">
                <div class="rounded rounded-3 border border-2 border-primary d-none" id="pruebas_">
            
            
            
                    <input type="text" class="form-control shadow-none  px-2 py-1 border border-0 rounded rounded-3"
                        placeholder="Buscar platillo" aria-label="" aria-describedby="basic-addon1" id="searchBarPizza_"
                        list="cardHolder3_" data-bs-toggle="dropdown" onkeyup="getCardsReplace3(this.value,1,this)"
                        name="pizza_mitad_text_" value="">
            
                    <ul class="dropdown-menu" aria-labelledby="searchBarMenu_" id="cardHolder3_">
            
                    </ul>
                    <select name="pizza_mitad" class="form-control shadow-none   px-2 py-1 d-block" placeholder=" Breve descripción*"
                        rows="1" aria-label="Username" aria-describedby="basic-addon1" style="border-left:none"
                        id="id_pizza_mitad_">
                        {% for men in menu%}
                        <option value="{{men.id}}">{{men.nombre}}</option>
                        {% endfor %}
                    </select>
            
            
                </div>
            </div>
        </div> 
        
        <!-- Opciones -->
        <div class="col-12 py-3">
            <div class="row">
            
                <div class="col-auto my-auto">
                    <p class="m-0">Familiar:</p>
                </div>
                <div class="col-auto my-auto text-center">
            <input type="checkbox" name="familiar" style="height:40px;width:40px" class="" id="id_familiar_" value="">

                </div>

                <div class="col-auto my-auto">
                    <p class="m-0">Media Orden:</p>

                </div>
                <div class="col-auto my-auto text-center">
                <input type="checkbox" name="media_orden_" style="height:40px;width:40px" class="" id="id_media_orden_" value="">

                </div>


  

            </div>

        </div>
    
        <div class="row align-items-center justify-content-center">
<div class="col-2">


<div class="row align-items-center justify-content-center ">
    <div class="col-4">
<a onclick="decrementValueForm(this)" data-field="quantity1" class="btn p-1 border border-0" id="id_cantidad_minus_" ><svg width="40px" height="40px" viewBox="0 -12 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000">
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
    <g id="SVGRepo_iconCarrier">

        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-414.000000, -1049.000000)"
                fill="#B05750">
                <path
                    d="M442,1049 L418,1049 C415.791,1049 414,1050.79 414,1053 C414,1055.21 415.791,1057 418,1057 L442,1057 C444.209,1057 446,1055.21 446,1053 C446,1050.79 444.209,1049 442,1049"
                    id="minus" sketch:type="MSShapeGroup"> </path>
            </g>
        </g>
    </g>
</svg>
</a>
    </div>
    <div class="col-4">
        <input class="input-group-field border rounded rounded-4 text-center" type="number" name="quantity" value="1"
            style="width: 50px;" id="id_cantidad_">
    </div>
    <div class="col-4">
    <a onclick="incrementValueForm(this)" data-field="quantity1" class="btn p-1 border border-0" id="id_cantidad_plus_" ><svg width="40px" height="40px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
         
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-362.000000, -1037.000000)"
                    fill="#349B67">
                    <path
                        d="M390,1049 L382,1049 L382,1041 C382,1038.79 380.209,1037 378,1037 C375.791,1037 374,1038.79 374,1041 L374,1049 L366,1049 C363.791,1049 362,1050.79 362,1053 C362,1055.21 363.791,1057 366,1057 L374,1057 L374,1065 C374,1067.21 375.791,1069 378,1069 C380.209,1069 382,1067.21 382,1065 L382,1057 L390,1057 C392.209,1057 394,1055.21 394,1053 C394,1050.79 392.209,1049 390,1049"
                        id="plus" sketch:type="MSShapeGroup"> </path>
                </g>
            </g>
        </g>
    </svg>
    </a>
    </div>
   
</div>
           
        
        
           
        
     
</div>
<!-- Observaciones -->

<div class="col-6">
    <div class="input-group rounded rounded-3 border border-2 border-primary ">

        <textarea name="observaciones" cols="40" rows="5" maxlength="100"
            class="form-control shadow-none border border-0  px-2 py-1 " placeholder=" Observaciones en la preparación*"
            aria-label="Username" aria-describedby="basic-addon1" style="border-left:none" id="id_observaciones_"
            data-lt-tmp-id="lt-336604" spellcheck="false" data-gramm="false"></textarea>

    </div>
</div>

<div class="col-4">
    <div id="id_extras_">
        <div class="my-auto">
            <label for="id_extras_0_"><input type="checkbox" style="height:30px;width:30px" name="extras-1" value="" id="id_extras_0_">
                Ingrediente extra</label>

        </div>
        <div>
            <label for="id_extras_1_"><input type="checkbox"  style="height:30px;width:30px"name="extras-1" value="" id="id_extras_1_">
                Camarón, jamón serrano, alcachofa,anchoas</label>

        </div>
        <div>
            <label for="id_extras_2_"><input type="checkbox" style="height:30px;width:30px" name="extras-1" value="" id="id_extras_2_">
                Parmesano reggiano o arúgula</label>

        </div>
        <div>
            <label for="id_extras_3_"><input type="checkbox" style="height:30px;width:30px" name="extras-1" value="" id="id_extras_3_">
                Mozzarela fresca</label>

        </div>
    </div>
</div>
        </div>

  

    </div>
</form>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $("#submit-all-forms-button").on("click", function () {
            var formularios = $("#dynamic-forms-container").find("[id^='formVenta']");

            formularios.each(function (index, form) {
                var formData = {};

                $(form)
                    .find("input, select, textarea")
                    .each(function () {
                        var fieldId = $(this).attr("id");
                        var fieldValue = $(this).val();

                        if ($(this).is(":checkbox")) {
                            fieldValue = $(this).is(":checked");
                        }

                        formData[fieldId] = fieldValue;
                    });
                console.log(formData)
                var csrfToken = $("input[name=csrfmiddlewaretoken]").val();
                formData["csrfmiddlewaretoken"] = csrfToken;

                $.ajax({
                    type: "POST",
                    url: "{% url 'Ventas:agregarVenta' venta.id %}",
                    data: formData,
                    success: function (response) {
                              location.reload(true);

                    }
                });
            });
        });

</script>

<script>
    function imprimirTicket(){
       window.print()
    }
</script>

<script>
 var formCounter = 0; 

    function agregarFormulario() {
        formCounter++; 

        var formClone = $("#formVenta").clone();
        
    formClone.find("input, select, textarea, ul, a , span, img,li,button").val("");

        var uniqueFormId = "formVenta" + formCounter;
        formClone.attr("id", uniqueFormId);
        formClone.find("input, select, textarea, ul, a, span, img,li,button").each(function () {

            var originalName = $(this).attr("name");
            var updatedName = originalName + formCounter;
            $(this).attr("name", updatedName);

            var originalId = $(this).attr("id");
            var updatedId = originalId + formCounter;
            $(this).attr("id", updatedId);

            var originallist = $(this).attr("list");
            var updatedlist = originallist + formCounter;
            $(this).attr("list", updatedlist);
        });
        
        var pruebas = formClone.find("#pruebas_");
        var pruebasID = "pruebas_" + formCounter;
        pruebas.attr("id", pruebasID);
       
        var extras = formClone.find("#id_extras_");
        var extrasID = "id_extras_" + formCounter;
        extras.attr("id", extrasID);
        

        var formCounterID = formClone.find("#formCounterID");
        var updatedFormCounterIDId = "formCounterID" + formCounter;
        formCounterID.attr("id", updatedFormCounterIDId);
        formCounterID.text(formCounter);


        var formCounterID = formClone.find("#contenedorborrar");
        var updatedFormCounterIDId = "formCounterID" + formCounter;
        formCounterID.attr("id", updatedFormCounterIDId);
        formCounterID.text(formCounter);

        var updateCantidad = formClone.find("#id_cantidad_" + formCounter);
        updateCantidad.val(1)

        //<svg fill="#ffffff" width="64px" height="64px" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M767 336H233q-12 0-21 9t-9 21l38 505q1 13 12 21.5t30 8.5h434q18 0 29-8.5t13-21.5l38-505q0-12-9-21t-21-9zM344 841q-10 0-18-9t-8-21l-26-386q0-12 9-20.5t21-8.5 21 8.5 9 20.5l18 386q0 12-7.5 21t-18.5 9zm182-31q0 13-7.5 22t-18.5 9-18.5-9-7.5-22l-4-385q0-12 9-20.5t21-8.5 21 8.5 9 20.5zm156 1q0 12-8 21t-18 9q-11 0-18.5-9t-7.5-21l18-386q0-12 9-20.5t21-8.5 21 8.5 9 20.5zm101-605l-179-30q-12-2-15-15l-8-33q-4-20-14-26-6-3-22-3h-90q-16 0-23 3-10 6-13 26l-8 33q-2 13-15 15l-179 30q-19 3-31.5 14.5T173 249v28q0 9 6.5 15t15.5 6h610q9 0 15.5-6t6.5-15v-28q0-17-12.5-28.5T783 206z"></path></g></svg>

        var deleteButton = $("<button class='btn btn-secondary text-white my-2' type='button'></button>");
        var trashCanIcon = $("<span></span>");

        trashCanIcon.html('<svg fill="#ffffff" width="32px" height="32px" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M767 336H233q-12 0-21 9t-9 21l38 505q1 13 12 21.5t30 8.5h434q18 0 29-8.5t13-21.5l38-505q0-12-9-21t-21-9zM344 841q-10 0-18-9t-8-21l-26-386q0-12 9-20.5t21-8.5 21 8.5 9 20.5l18 386q0 12-7.5 21t-18.5 9zm182-31q0 13-7.5 22t-18.5 9-18.5-9-7.5-22l-4-385q0-12 9-20.5t21-8.5 21 8.5 9 20.5zm156 1q0 12-8 21t-18 9q-11 0-18.5-9t-7.5-21l18-386q0-12 9-20.5t21-8.5 21 8.5 9 20.5zm101-605l-179-30q-12-2-15-15l-8-33q-4-20-14-26-6-3-22-3h-90q-16 0-23 3-10 6-13 26l-8 33q-2 13-15 15l-179 30q-19 3-31.5 14.5T173 249v28q0 9 6.5 15t15.5 6h610q9 0 15.5-6t6.5-15v-28q0-17-12.5-28.5T783 206z"></path></g></svg>');

        deleteButton.append(trashCanIcon);

        deleteButton.on("click", function () {
            formClone.remove(); 
        });
        formClone.append(deleteButton);

        $("#dynamic-forms-container").append(formClone);
        getCardsReplace2("", 1);
        getCardsReplace3("",1)

    }


</script>


      
<script>


  
   
    function show(element) {
                console.log(element)

        var currentId = element.id;
        var idMatch = currentId.match(/\d+$/);
        var idMatch = idMatch[0];
        var targetId = "pruebas_" + idMatch;

        var pizza_extra = document.getElementById(targetId);     

        if (element.checked) {
            pizza_extra.classList.remove('d-none')
            pizza_extra.classList.add('d-block')
            bandera = false
        } else {
            pizza_extra.classList.remove('d-block')
            pizza_extra.classList.add('d-none')
            bandera = true
        }
    }

    function setNombre(id) {
        if (id == 0) {
            var nombre2 = document.getElementById("id_cliente");
            nombre2.value = id

        } else {
            nombreC = "cliente" + id
            var nombre = document.getElementById("searchBar");
            var nombreChido = document.getElementById(nombreC);
            nombre.value = nombreChido.textContent;

            var nombre2 = document.getElementById("id_cliente");
            nombre2.value = id
        }


    }




    function setNombre2(id, element) {
        var currentId = element.id;
        var idMatch = currentId.match(/\d+$/);
        console.log(element)
        var idMatch = idMatch[0];
        var targetId = "menus_"+id+"_"+idMatch;
        var ids= document.getElementById(targetId);
   
        console.log(targetId)
        console.log(ids)

        if (id == 0) {
            var prp= "id_menu_" + idMatch
            var nombre2 = document.getElementById(prp);
            nombre2.value = id

        } else {
          
            var prp = "id_menu_" + idMatch
            var prpsearchBarMenu = "searchBarMenu_" + idMatch;
            console.log(prp)
            console.log(prpsearchBarMenu)



            nombreC = "texto_" + id + "_" + idMatch;
            var nombre = document.getElementById(prpsearchBarMenu);
            var nombreChido = document.getElementById(nombreC);
           // console.log(nombre)
           // console.log(nombreChido)
            nombre.value = nombreChido.textContent;

            var nombre2 = document.getElementById(prp);
            nombre2.value = id
        }


    }

    function setNombre3(id,element) {
        var currentId = element.id;
        var idMatch = currentId.match(/\d+$/);
        console.log(element)
        var idMatch = idMatch[0];
        var targetId = "menusPizza_" + id + "_" + idMatch;
        var ids = document.getElementById(targetId);
        console.log(targetId)
        console.log(ids)

        
        if (id == 0) {
            var prp = "id_pizza_mitad_" + idMatch
            var nombre2 = document.getElementById(prp);
            nombre2.value = id

        } else {

            var prp = "id_pizza_mitad_" + idMatch
            var prpsearchBarMenu = "searchBarPizza_" + idMatch;
            console.log(prp)
            console.log(prpsearchBarMenu)



            nombreC = "textPizza_" + id + "_" + idMatch;
            var nombre = document.getElementById(prpsearchBarMenu);
            var nombreChido = document.getElementById(nombreC);
            // console.log(nombre)
            // console.log(nombreChido)
            nombre.value = nombreChido.textContent;

            var nombre2 = document.getElementById(prp);
            nombre2.value = id
        }



    }
</script>


<script src="{% static 'js/clienteRow.js' %}"></script>
<script src="{% static 'js/menuRow.js' %}"></script>
<script src="{% static 'js/menuRow2.js' %}"></script>

<script>
    function incrementValue(id) {
        var inputField = document.getElementById('input' + id);
        console.log(inputField);
        var currentVal = parseInt(inputField.value);
        if (!isNaN(currentVal)) {
            inputField.value = currentVal + 1;
        } else {
            inputField.value = 0;
        }


    }

    function decrementValue(id) {
        var inputField = document.getElementById('input' + id);
        var currentVal = parseInt(inputField.value);
        if (!isNaN(currentVal) && currentVal > 0) {
            inputField.value = currentVal - 1;
        } else {
            inputField.value = 0;
        }

    }

    function incrementValueForm(element){
        var incrementID = element.id
        var idMatch = incrementID.match(/\d+$/);
        input= document.getElementById("id_cantidad_"+ idMatch[0])
        var currentVal = parseInt(input.value);
        input.value = currentVal + 1;


    }

       function decrementValueForm(element) {
            var decrementID = element.id
            var idMatch = decrementID.match(/\d+$/);
            input = document.getElementById("id_cantidad_" + idMatch[0])
            var currentVal = parseInt(input.value);

           if (input.value > 1){
                input.value = currentVal - 1;

           }else{
            input.value = 1
            alert("No puedes poner numeros negativos o 0")

           }


        }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{% endblock %}