{% extends 'layout/layout.html' %}
{% load static %}

{% block body %}
<div class="container min-vh-100  py-4">


    <div
        class="row bg-whiterounded-top border-top border-end border-start border-3 border-quinto bg-white  rounded-top">

        <div class="col-4 col-md-2 border-end border-quinto">
            <form action="{% url 'Ventas:addCliente' venta.id%}" method="POST" enctype="multipart/form-data"
                id="user-profile-form">
                {% csrf_token %}
                {% if venta.is_reopen%}
                {{venta.cliente}}

                {% else %}
                <div class="input-group">

                    <div class="dropdown">

                        <input type="text" class="form-control shadow-none p-0 border border-0 "
                            placeholder="Buscar cliente" aria-label="" aria-describedby="basic-addon1" id="searchBar"
                            list="cardHolder" data-bs-toggle="dropdown" onkeyup="getCardsReplace(this.value)"
                            id="dropdownMenuLink"
                            value="{% if venta.cliente %} {{venta.cliente}} {% else %} Sin cliente {% endif %}">


                        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink" id="cardHolder">

                        </ul>
                        <div class="d-none">
                            {{form.cliente}}
                        </div>
                    </div>

                </div>

                {% endif %}
            </form>
        </div>

        <div class="col-5 col-md-2 border-end border-quinto">
            {{venta.empleado.first_name}}
        </div>
        <div class="col-4 border-end border-quinto d-none d-md-block">
            {{venta.fecha_compra}}
        </div>

        <div class="col-2 border-end border-quinto  d-none d-md-block">
            {% if venta.is_open %} {% if venta.is_reopen%} Cuenta reabierta {% else %} Cuenta abierta {% endif %}
            {% else %} Cuenta cerrada {% endif %}
        </div>


        <div class="col-3 col-md-2 border-end border-quinto  ">



            <form action="{% url 'Ventas:addMesa' venta.id %}" method="POST" enctype="multipart/form-data"
                id="user-profile-form2">
                {% csrf_token %}
                {% if venta.is_reopen %}
                {{ venta.mesa }}
                {% else %}
                <select class="form-select border border-0 shadow-none py-0" aria-label="Default select example"
                    id="selectMesa" name="mesa">
                    {% if venta.mesa %}
                    {% for mesa in mesas %}
                    <option {% if venta.mesa == mesa %} selected {% endif %} value="{{ mesa.id }}">{{ mesa.nombre }}
                    </option>
                    {% endfor %}
                    {% else %}
                    <option selected value="0">NA
                    </option>
                    {% for mesa in mesas %}
                    <option value="{{ mesa.id }}">{{ mesa.nombre }}
                    </option>
                    {% endfor %}
                    {% endif %}

                </select>
                {% endif %}
                <div class="d-none">
                    {{form3.mesa}}

                </div>

            </form>







        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Capturar el cambio en el select
            $('#selectMesa').on('change', function () {
                // Obtener el valor seleccionado en el select
                var selectedValue = $(this).val();

                // Establecer el valor en el campo del formulario 'mesa'
                $('#id_mesa').val(selectedValue);
                $('#user-profile-form2').submit();

            });
        });
    </script>


    <div class="row">
        <div class="col-12 p-0">
            <div class="table-responsive">
                <table class="table border border-3 table-hover table-bordered border-quinto table-sm">
                    <thead class="bg-tercero text-white">
                        <th class="d-none d-sm-table-cell">Imagen</th>

                        <th>Platillo</th>
                        <th>Observaciones</th>

                        <th class="d-none d-sm-table-cell">Precio</th>
                        <th>Extras</th>
                        <th>Cantidad</th>
                        <th class="d-none d-sm-table-cell">Total</th>
                    </thead>
                    <tbody>

                        {% for list in lista%}
                        <tr>
                            <td class="align-middle border border-0 d-none d-sm-table-cell"
                                style=" width: 75px;height:75px">
                                <img src="{{list.menu.url.url}}" alt="" width="90px" height="90px">
                                {% if list.pizza_mitad %}
                                <img src="{{list.pizza_mitad.url.url}}" alt="" width="90px" height="90px">
                                {% endif %}
                            </td>

                            <td class="align-middle  text-center">

                                {% if list.media_orden %}
                                <p>Media Orden:</p>

                                {% endif %}
                                {% if list.familiar %}
                                <p>Pizza Familiar</p>

                                {% endif %}
                                {% if list.pizza_mitad %}
                                Mitad:
                                {% endif %}
                                {{list.menu}}
                                {% if list.pizza_mitad %}
                                <p>Mitad: {{list.pizza_mitad}}
                                </p> {% endif %}
                            </td>
                            <td class="align-middle">

                                <p class=" text-break">

                                    {{list.observaciones}}</p>
                            </td>
                            <td class="align-middle text-center d-none d-sm-table-cell" style="width: 200px;">
                                {% if list.menu.categoria == "Pizza" %}
                                {% if list.familiar %}
                                {% if list.pizza_mitad %}
                                {% if list.pizza_mitad.precioFamiliar < list.menu.precioFamiliar %}
                                    ${{list.menu.precioFamiliar}} mxn {% else %} $ {{list.pizza_mitad.precioFamiliar}}
                                    mxn {% endif %} {% else %} ${{list.menu.precioFamiliar}} mxn {% endif %} {% else %}
                                    {% if list.pizza_mitad %} {% if list.pizza_mitad.precio < list.menu.precio %} $
                                    {{list.menu.precio}} mxn {% else %} $ {{ list.pizza_mitad.precio }} mxm {% endif %}
                                    {% else %} $ {{ list.menu.precio }} mxn {% endif %} {% endif %} {% else %} <!-- -->
                                    {% if list.media_orden %} $ {{list.menu.mediaOrden}} mxn {% else %} $
                                    {{list.menu.precio}}
                                    mxn {% endif %} {% endif %} </td>
                            <td class="align-middle text-center">
                                {% for ingrediente in list.extras.all %}
                                <div class="col-auto">
                                    <p>{{ ingrediente.nombre }}
                                        {% if list.familiar %}
                                        ${{ ingrediente.precioFamiliar }}
                                        {% else %}
                                        ${{ ingrediente.precio }}
                                        {% endif %}
                                    </p>

                                </div>


                                {% endfor %}
                            </td>
                            <td class="align-middle  text-center">


                                <div class="plus-minus-input">
                                    {% if venta.is_open %}

                                    <div class="input-group-button my-auto">

                                        <a onclick="incrementValue({{list.id}})" data-field="quantity1" class="p-1"
                                            href="{% url 'Ventas:guardarCambios' venta.id list.id 'suma' %}"
                                            id="plus{{list.id}}" class="btn"><i class="fa fa-plus text-primary"
                                                aria-hidden="true"></i>
                                        </a>

                                    </div>
                                    {% endif %}

                                    <input class="input-group-field border rounded rounded-4 text-center" type="number"
                                        name="quantity" value="{{list.cantidad}}" style="width: 50px;"
                                        id="input{{list.id}}" disabled>
                                    {% if venta.is_open %}
                                    <div class="input-group-button my-auto">

                                        <a onclick="decrementValue({{list.id}})" data-field="quantity1" class="p-1"
                                            href="{% url 'Ventas:guardarCambios' venta.id list.id 'resta' %}"
                                            id="minus{{list.id}}" class="btn"><i class="fa fa-minus text-secondary"
                                                aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    {% endif %}

                                </div>
                            </td>
                            <td class="align-middle text-center d-none d-sm-table-cell">
                                $ {{list.totalfinal}}
                            </td>
                        </tr>
                        {% endfor %}






                        <tr class="d-none d-sm-table-row">
                            <th class="bg-quinto"></th>
                            <th class="bg-quinto"></th>
                            <th class="bg-quinto "></th>
                            <th class="bg-quinto"></th>
                            <th class="bg-quinto"></th>
                            <th class="bg-quinto"></th>


                            <th class="bg-primary text-white" style="width: 200px">Total: $ {{total}}
                            </th>
                        </tr>
                        <tr class="d-block d-sm-none d-table-row">
                            <th class="bg-quinto"></th>

                            <th class="bg-quinto"></th>
                            <th class="bg-quinto text-white">Total: $</th>


                            <th class="bg-primary text-white"> {{total}}
                            </th>
                        </tr>
                    </tbody>

                </table>
                <div class="container"> <!-- Contenedor  -->
                    <div id="dynamic-forms-container">

                    </div>
                 
                </div>
            </div>

        </div>
    </div>
    {% if venta.is_open%}
    <div class="row ">
        <div class="col-6 col-md-2 text-center">
            <button onclick="agregarFormulario()" class="btn btn-tercero text-white w-100">Agregar venta</button>

        </div>
        <div class="col-6 col-md-2 text-center">
            <form action="{% url 'Ventas:cerrarVenta' venta.id %}" method="POST" enctype="multipart/form-data"
                id="user-profile-form">
                {% csrf_token %}
                <a class="btn btn-secondary text-white w-100" data-bs-toggle="modal" data-bs-target="#cerraModal">Cerrar
                    venta</a>



                <div class="modal fade" id="cerraModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-cuarto">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{% if venta.is_reopen %} ¿Esta
                                    seguro de
                                    volver a cerrar la cuenta de
                                    {{venta.cliente.nombre}} ?
                                    {% else %} ¿Esta seguro de
                                    cerrar la cuenta de
                                    {{venta.cliente.nombre}} ? {% endif %} </h5>
                            </div>
                            {% if not venta.is_reopen%}
                            <div class="modal-body">
                                <h4 class="text-secondary">¡UNA VEZ CERRADA NO
                                    PODRAS CAMBIAR AL
                                    CLIENTE!
                                </h4>
                                <h4>
                                    El total de la venta es $ {{total}} mxn
                                </h4>

                            </div>
                            {% endif %}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-tercero text-white "
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-secondary">Cerrar cuenta</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-2">
        <button id="submit-all-forms-button" class="btn btn-primary">Enviar todos los formularios</button>

        </div>
    </div>
    {% else %}
    <div class="row justify-content-end w-100">
        <div class="col-5 col-md-2 text-center">
            <form action="{% url 'Ventas:abrirVenta' venta.id %}" method="POST" enctype="multipart/form-data"
                id="user-profile-form">
                {% csrf_token %}

                <button href="" type="submit" class="btn btn-tercero w-100 text-white">Reabrir
                    venta</button>
            </form>

        </div>

    </div>
    {% endif %}
</div>



<div class="container d-block">
<form action="{% url 'Ventas:agregarVenta' venta.id %}" method="POST" enctype="multipart/form-data" id="formVenta">
    {% csrf_token %}
    <div class="row border border-4 rounded rounded-4 border-quinto p-2">
        <div id="formCounterID">

        </div>


        <div class="col-4">
            <div class="rounded rounded-3 border border-2 border-primary">


                <input type="text" class="form-control shadow-none  px-2 py-1 border border-0 rounded rounded-3"
                    placeholder="Buscar platillo" aria-label="" aria-describedby="basic-addon1" id="searchBarMenu_" name="menu_text"
                    list="cardHolder2_" data-bs-toggle="dropdown" onkeyup="getCardsReplace2(this.value,1)"
                     value="">


                <ul class="dropdown-menu" aria-labelledby="searchBarMenu_" id="cardHolder2_">

                </ul>
                <div class="d-block">
                <select name="menu" class="form-control shadow-none   px-2 py-1"  placeholder=" Breve descripción*" rows="1" aria-label="Username" aria-describedby="basic-addon1" style="border-left:none" required="" id="id_menu_">
                    <option value="" selected="">---------</option>
                
                    <option value="1">Bruschetta</option>
                
                    <option value="2">Bruschetta Angri</option>
                
                    <option value="3">Pimientos Ambra</option>
                
                    <option value="4">Zucchini all ´aceto</option>
                
                    <option value="5">Carpaccio de Carne</option>
                
                    <option value="6">Provolone al horno</option>
                
                    <option value="7">Antipasto misto</option>
                
                    <option value="8">Insalata Caprese</option>
                
                    <option value="9">Insalata Ninnarella</option>
                
                    <option value="10">Insalata Ambra</option>
                
                    <option value="11">Insalata Napoli</option>
                
                    <option value="12">Insalata André</option>
                
                    <option value="13">Corte Rib Eye (350grs)</option>
                
                    <option value="14">Pollo alla Pompeiana</option>
                
                    <option value="15">Salmón alla Mediterranea</option>
                
                    <option value="16">Pasta Siciliana</option>
                
                    <option value="17">Fusilli al Pesto</option>
                
                    <option value="18">Spaguetti Bolognesa</option>
                
                    <option value="19">Spaghetti Carbonara</option>
                
                    <option value="20">Fusilli del Chef</option>
                
                    <option value="21">Spaghetti Aglio e Olio</option>
                
                    <option value="22">Fusilli Funghi e Carciofine</option>
                
                    <option value="23">Spaghetti Primavera</option>
                
                    <option value="24">Margherita</option>
                
                    <option value="25">Marinara</option>
                
                    <option value="26">Napoletana</option>
                
                    <option value="27">Frutti Di Mare</option>
                
                    <option value="28">Peperoni</option>
                
                    <option value="29">Tropicale</option>
                
                    <option value="30">Capatone</option>
                
                    <option value="31">Mare e Monti</option>
                
                    <option value="32">Soucera</option>
                
                    <option value="33">Oaxaqueña</option>
                
                    <option value="34">Cognata</option>
                
                    <option value="35">Chucky Lozano</option>
                
                    <option value="36">Fratello</option>
                
                    <option value="37">4 Formaggi</option>
                
                    <option value="38">Paktiel</option>
                
                    <option value="39">Carciofina</option>
                
                    <option value="40">O´pazzo</option>
                
                    <option value="41">We´Alfo</option>
                
                    <option value="42">Salumi</option>
                
                    <option value="43">Calzone Maradona</option>
                
                    <option value="44">Calzone Vesuvio</option>
                
                    <option value="45">Calzone Puebla</option>
                
                    <option value="46">Calzone Vegetariano</option>
                
                    <option value="47">Calzone Napoletano</option>
                
                    <option value="48">Involtini Vegetariano</option>
                
                    <option value="49">Involtini de Embutidos</option>
                
                    <option value="50">Calzone de Nutella</option>
                
                    <option value="51">Calzone de Nutella con frutas</option>
                
                    <option value="52">Tiramisú</option>
                
                    <option value="53">Panna Cotta</option>
                
                    <option value="54">Agua Natural</option>
                
                    <option value="55">Agua Mineral</option>
                
                    <option value="56">Refresco</option>
                
                    <option value="57">Limonada</option>
                
                    <option value="58">Cerveza</option>
                
                    <option value="59">Chelada</option>
                
                    <option value="60">Michelada</option>
                
                    <option value="61">Copa de vino de la casa</option>
                
                    <option value="62">Clamato con cerveza</option>
                
                    <option value="63">Café Americano</option>
                
                    <option value="64">Café Espresso</option>
                
                    <option value="65">Café Espresso Doble</option>
                
                    <option value="66">Café Espresso Cortado</option>
                
                    <option value="67">Café Cappuchino</option>
                
                    <option value="68">Café con Leche</option>
                
                    <option value="69">Café Carajillo</option>
                
                    <option value="70">Té</option>
                
                    <option value="71">Café Bombón</option>
                
                    <option value="72">Barra Pan</option>
                
                    <option value="73">Jarra Limonada</option>
                
                    <option value="74">Gelato</option>
                
                    <option value="75">Limonchelo</option>
                
                    <option value="76">Grapa</option>
                
                    <option value="77">Ravioli espinaca</option>
                
                    <option value="78">Ravioli Queso</option>
                
                    <option value="79">Mezcal</option>
                
                </select>

                </div>

            </div>
            <div id="pruebas" class="d-none">
                <div class="input-group rounded rounded-3 border border-2 border-primary">


                    <div class="input-group-prepend dropdown me-2 my-auto">
                     
                    </div>
                    <input type="text" class="form-control shadow-none  px-2 py-1 border border-0 rounded rounded-3"
                        placeholder="Buscar platillo" aria-label="" aria-describedby="basic-addon1" id="searchBarPizza"
                        list="cardHolder3" data-bs-toggle="dropdown" onkeyup="getCardsReplace3(this.value)" name="pizza_mitad_text"
                        id="dropdownMenuLink3" value="">

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink3" id="cardHolder3">

                    </ul>
                    <div class="d-none">
                    <select name="pizza_mitad" class="form-control shadow-none   px-2 py-1" placeholder=" Breve descripción*" rows="1"
                        aria-label="Username" aria-describedby="basic-addon1" style="border-left:none" id="id_pizza_mitad">
                        <option value="" selected="">---------</option>
                    
                        <option value="1">Bruschetta</option>
                    
                        <option value="2">Bruschetta Angri</option>
                    
                        <option value="3">Pimientos Ambra</option>
                    
                        <option value="4">Zucchini all ´aceto</option>
                    
                        <option value="5">Carpaccio de Carne</option>
                    
                        <option value="6">Provolone al horno</option>
                    
                        <option value="7">Antipasto misto</option>
                    
                        <option value="8">Insalata Caprese</option>
                    
                        <option value="9">Insalata Ninnarella</option>
                    
                        <option value="10">Insalata Ambra</option>
                    
                        <option value="11">Insalata Napoli</option>
                    
                        <option value="12">Insalata André</option>
                    
                        <option value="13">Corte Rib Eye (350grs)</option>
                    
                        <option value="14">Pollo alla Pompeiana</option>
                    
                        <option value="15">Salmón alla Mediterranea</option>
                    
                        <option value="16">Pasta Siciliana</option>
                    
                        <option value="17">Fusilli al Pesto</option>
                    
                        <option value="18">Spaguetti Bolognesa</option>
                    
                        <option value="19">Spaghetti Carbonara</option>
                    
                        <option value="20">Fusilli del Chef</option>
                    
                        <option value="21">Spaghetti Aglio e Olio</option>
                    
                        <option value="22">Fusilli Funghi e Carciofine</option>
                    
                        <option value="23">Spaghetti Primavera</option>
                    
                        <option value="24">Margherita</option>
                    
                        <option value="25">Marinara</option>
                    
                        <option value="26">Napoletana</option>
                    
                        <option value="27">Frutti Di Mare</option>
                    
                        <option value="28">Peperoni</option>
                    
                        <option value="29">Tropicale</option>
                    
                        <option value="30">Capatone</option>
                    
                        <option value="31">Mare e Monti</option>
                    
                        <option value="32">Soucera</option>
                    
                        <option value="33">Oaxaqueña</option>
                    
                        <option value="34">Cognata</option>
                    
                        <option value="35">Chucky Lozano</option>
                    
                        <option value="36">Fratello</option>
                    
                        <option value="37">4 Formaggi</option>
                    
                        <option value="38">Paktiel</option>
                    
                        <option value="39">Carciofina</option>
                    
                        <option value="40">O´pazzo</option>
                    
                        <option value="41">We´Alfo</option>
                    
                        <option value="42">Salumi</option>
                    
                        <option value="43">Calzone Maradona</option>
                    
                        <option value="44">Calzone Vesuvio</option>
                    
                        <option value="45">Calzone Puebla</option>
                    
                        <option value="46">Calzone Vegetariano</option>
                    
                        <option value="47">Calzone Napoletano</option>
                    
                        <option value="48">Involtini Vegetariano</option>
                    
                        <option value="49">Involtini de Embutidos</option>
                    
                        <option value="50">Calzone de Nutella</option>
                    
                        <option value="51">Calzone de Nutella con frutas</option>
                    
                        <option value="52">Tiramisú</option>
                    
                        <option value="53">Panna Cotta</option>
                    
                        <option value="54">Agua Natural</option>
                    
                        <option value="55">Agua Mineral</option>
                    
                        <option value="56">Refresco</option>
                    
                        <option value="57">Limonada</option>
                    
                        <option value="58">Cerveza</option>
                    
                        <option value="59">Chelada</option>
                    
                        <option value="60">Michelada</option>
                    
                        <option value="61">Copa de vino de la casa</option>
                    
                        <option value="62">Clamato con cerveza</option>
                    
                        <option value="63">Café Americano</option>
                    
                        <option value="64">Café Espresso</option>
                    
                        <option value="65">Café Espresso Doble</option>
                    
                        <option value="66">Café Espresso Cortado</option>
                    
                        <option value="67">Café Cappuchino</option>
                    
                        <option value="68">Café con Leche</option>
                    
                        <option value="69">Café Carajillo</option>
                    
                        <option value="70">Té</option>
                    
                        <option value="71">Café Bombón</option>
                    
                        <option value="72">Barra Pan</option>
                    
                        <option value="73">Jarra Limonada</option>
                    
                        <option value="74">Gelato</option>
                    
                        <option value="75">Limonchelo</option>
                    
                        <option value="76">Grapa</option>
                    
                        <option value="77">Ravioli espinaca</option>
                    
                        <option value="78">Ravioli Queso</option>
                    
                        <option value="79">Mezcal</option>
                    
                    </select>

                    </div>

                </div>
            </div>
        </div>

        <!-- Opciones -->
        <div class="col-4">
            <div class="row">
                <div class="col-4">
                    <p class="m-0">Mitad Pizza:</p>

                    <input type="checkbox" name="mitad_pizza" style="height:30px;width:30px" class="" id="mitad_pizza" value="" onclick="show(this)">
                </div>
                <div class="col-4">
                    <p class="m-0">Familiar:</p>

            <input type="checkbox" name="familiar" style="height:30px;width:30px" class="" id="id_familiar" value="">

                </div>

                <div class="col-4">
                    <p class="m-0">Media Orden:</p>

                <input type="checkbox" name="media_orden" style="height:30px;width:30px" class="" id="id_media_orden" value="">
                </div>




            </div>

        </div>
        <div class="col-2">
<input type="number" name="cantidad" value="1" min="0" class="form-control shadow-none border border-0   px-2 py-1 "
    placeholder=" Cantidad*" rows="1" aria-label="Username" aria-describedby="basic-addon1" style="border-left:none"
    required="" id="id_cantidad">        </div>

        <!-- Observaciones -->

        <div class="col-6">
            <div class="input-group rounded rounded-3 border border-2 border-primary ">
                <span class="input-group-text bg-white border border-0 " id="basic-addon1"> <svg width="19px"
                        height="19px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                        </g>
                        <g id="SVGRepo_iconCarrier">
                            <circle opacity="0.5" cx="12" cy="12" r="10" stroke="#a8361a" stroke-width="1.5">
                            </circle>
                            <path d="M12 6V18" stroke="#a8361a" stroke-width="1.5" stroke-linecap="round">
                            </path>
                            <path
                                d="M15 9.5C15 8.11929 13.6569 7 12 7C10.3431 7 9 8.11929 9 9.5C9 10.8807 10.3431 12 12 12C13.6569 12 15 13.1193 15 14.5C15 15.8807 13.6569 17 12 17C10.3431 17 9 15.8807 9 14.5"
                                stroke="#a8361a" stroke-width="1.5" stroke-linecap="round">
                            </path>
                        </g>
                    </svg>
                </span>
            <textarea name="observaciones" cols="40" rows="5" maxlength="100"
                class="form-control shadow-none border border-0  px-2 py-1 " placeholder=" Observaciones en la preparación*"
                aria-label="Username" aria-describedby="basic-addon1" style="border-left:none" id="id_observaciones"
                data-lt-tmp-id="lt-336604" spellcheck="false" data-gramm="false"></textarea>

            </div>
        </div>



        <div class="col-5">
        <div id="id_extras">
            <div>
                <label for="id_extras_0"><input type="checkbox" name="extras-1" value="" id="id_extras_0">
                    Ingrediente extra</label>
        
            </div>
            <div>
                <label for="id_extras_1"><input type="checkbox" name="extras-1" value="" id="id_extras_1">
                    Camarón, jamón serrano, alcachofa,anchoas</label>
        
            </div>
            <div>
                <label for="id_extras_2"><input type="checkbox" name="extras-1" value="" id="id_extras_2">
                    Parmesano reggiano o arúgula</label>
        
            </div>
            <div>
                <label for="id_extras_3"><input type="checkbox" name="extras-1" value="" id="id_extras_3">
                    Mozzarela fresca</label>
        
            </div>
        </div>
        </div>
<div class="col-2">
    <button class="btn" type="submit"> Guardar</button>
</div>
  

    </div>
</form>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% csrf_token %} <!-- Agregar el token CSRF en tu formulario Django -->

<script>
    $("#submit-all-forms-button").on("click", function () {
        var formularios = $(".dynamic-form");
        var datos = [];

        formularios.each(function (index, form) {
            var formData = $(form).serialize();
            datos.push(formData);
        });

        // Obtener el token CSRF del formulario
        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();

        // Agregar el token CSRF a los datos que se envían
        datos.push("csrfmiddlewaretoken=" + csrfToken);

        $.ajax({
            type: "POST",
            url: "{% url 'Ventas:agregarVenta' venta.id %}",
            data: datos.join("&"),
            success: function (response) {
                console.log(response);
            }
        });
    });
</script>



<script>
 var formCounter = 0; // Variable global para mantener un contador único

    function agregarFormulario() {
        formCounter++; // Incrementa el contador global

        var formClone = $("#formVenta").clone();
        formClone.find("input, select, textarea, ul, a , span, img,li").val("");

        // Cambia el nombre y el ID del formulario clonado
        var uniqueFormId = "formVenta" + formCounter;
        formClone.attr("id", uniqueFormId);
        formClone.find("input, select, textarea, ul, a, span, img,li").each(function () {

            var originalName = $(this).attr("name");
            var updatedName = originalName + formCounter;
            $(this).attr("name", updatedName);

            var originalId = $(this).attr("id");
            var updatedId = originalId + formCounter;
            $(this).attr("id", updatedId);

            var originallist = $(this).attr("list");
            var updatedlist = originallist + formCounter;
            $(this).attr("list", updatedlist);
        });
        
        // Actualiza el ID y el texto del div "pruebas" con el valor de formCounter
        var pruebas = formClone.find("#pruebas");
        var pruebasID = "pruebas" + formCounter;
        pruebas.attr("id", pruebasID);
        pruebas.text(formCounter);
       

        var formCounterID = formClone.find("#formCounterID");
        var updatedFormCounterIDId = "formCounterID" + formCounter;
        formCounterID.attr("id", updatedFormCounterIDId);
        formCounterID.text(formCounter);


        var formCounterID = formClone.find("#contenedorborrar");
        var updatedFormCounterIDId = "formCounterID" + formCounter;
        formCounterID.attr("id", updatedFormCounterIDId);
        formCounterID.text(formCounter);





        var deleteButton = $("<button class='btn btn-secondary text-white' type='button'>Borrar Formulario</button>");
        deleteButton.on("click", function () {
            formClone.remove(); 
        });
        formClone.append(deleteButton);

        $("#dynamic-forms-container").append(formClone);
        getCardsReplace2("", 1);

    }


</script>


      
<script>


  
    var bandera;
    bandera = true
    function show(element) {
        var currentId = element.id; 
        var targetId = "pruebas" + currentId.substr(11); 
        var pizza_extra = document.getElementById(targetId);     
        console.log(pizza_extra)

        if (bandera == true || bandera == null) {
            pizza_extra.classList.remove('d-none')
            pizza_extra.classList.add('d-block')
            bandera = false
        } else {
            pizza_extra.classList.remove('d-block')
            pizza_extra.classList.add('d-none')
            bandera = true
        }
    }

    function setNombre(id) {
        if (id == 0) {
            var nombre2 = document.getElementById("id_cliente");
            nombre2.value = id

        } else {
            nombreC = "cliente" + id
            var nombre = document.getElementById("searchBar");
            var nombreChido = document.getElementById(nombreC);
            nombre.value = nombreChido.textContent;

            var nombre2 = document.getElementById("id_cliente");
            nombre2.value = id
        }


    }




    function setNombre2(id, element) {
        var currentId = element.id;
        console.log(element)
        var targetId = "menus_"+id+"_" + currentId.substr(8);
        var ids= document.getElementById(targetId);
   


        if (id == 0) {
            var prp= "id_menu_" + currentId.substr(8)
            var nombre2 = document.getElementById(prp);
            nombre2.value = id

        } else {
          
            var prp = "id_menu_" + currentId.substr(8)
            var prpsearchBarMenu = "searchBarMenu_" + currentId.substr(8)


            nombreC = "texto_" + id + "_" + currentId.substr(8);
            var nombre = document.getElementById(prpsearchBarMenu);
            var nombreChido = document.getElementById(nombreC);
           // console.log(nombre)
           // console.log(nombreChido)
            nombre.value = nombreChido.textContent;

            var nombre2 = document.getElementById(prp);
            nombre2.value = id
        }


    }
    function setNombre3(id) {
        console.log(id)
        if (id == 0) {
            var nombre3 = document.getElementById("id_pizza_mitad");
            nombre3.value = id

        } else {
            nombreC = "texto" + id
            var nombre = document.getElementById("searchBarPizza");
            var nombreChido = document.getElementById(nombreC);
            nombre.value = nombreChido.textContent;

            var nombre3 = document.getElementById("id_pizza_mitad");
            nombre3.value = id
            console.log(nombre3)
        }


    }
</script>


<script src="{% static 'js/clienteRow.js' %}"></script>
<script src="{% static 'js/menuRow.js' %}"></script>
<script src="{% static 'js/menuRow2.js' %}"></script>

<script>
    function incrementValue(id) {
        var inputField = document.getElementById('input' + id);
        console.log(inputField);
        var currentVal = parseInt(inputField.value);
        if (!isNaN(currentVal)) {
            inputField.value = currentVal + 1;
        } else {
            inputField.value = 0;
        }


    }

    function decrementValue(id) {
        var inputField = document.getElementById('input' + id);
        var currentVal = parseInt(inputField.value);
        if (!isNaN(currentVal) && currentVal > 0) {
            inputField.value = currentVal - 1;
        } else {
            inputField.value = 0;
        }

    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    /*  $(document).ready(function () {
          $("#id_mesa").onchange(function () {
              var item_id = {{ venta.id }};  // Aquí asigna el ID que deseas enviarasdasdsadsadsadsdsdswsdaasdasdsadasdasdsdsa
  
          $.ajax({
              type: "POST",
              url: `/Ventas/modificarVenta/Mesa/${item_id}`,  // URL con el ID en la ruta
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  // Otros datos si es necesario
              },
              success: function (data) {
                  alert(data.mensaje);
              },
              error: function () {
                  alert("Error al actualizar la base de datos.");
              }
          });
      });
  });*/


</script>

{% endblock %}