<table class="table table-striped m-0">
    <thead class="bg-tercero">
        <tr>
            <th>Comprador</th>
            <th>Metodo</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Ticket</th>
            <th>Num Factura</th>
            <th>Proovedor</th>
            <th>Editar</th>
            <th>Eliminar</th>

        </tr>
    </thead>
    <tbody>
        {% for compras in totalCompras%}

        <tr class="align-middle bg-cuarto">
            <td>{{compras.comprador}}</td>
            <td>{{compras.metodo}}</td>
            <td>{{compras.fecha|date:"d-m-Y" }}</td>

            <td>${{compras.total_comprado}}</td>
            <td><a data-bs-toggle="modal" data-bs-target="#exampleModal{{compras.id}}"
                    class="text-decoration-underline">Ticket</a>
            </td>
            <td>{{compras.numero_factura}}</td>
            <td>{{compras.proovedor}}</td>


            <td class="text-start"><a href="{% url 'Stock:compraEditar' compras.id %}"
                    class="btn btn-tercero text-white"> Editar compra</a></td>

            <td class="text-start"><a href="" class="btn btn-secondary text-white"> Eliminar compra</a></td>





        </tr>
        <div class="modal fade" id="exampleModal{{compras.id}}" tabindex=" -1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header border border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{compras.ticket.url}}" alt="" width="100%" height="414px" id="output"
                            style="cursor: pointer;" class="rounded rounded-2 border border-3">

                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <tr class="align-middle bg-cuarto">
            <td>No encontramos ningun resultado</td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>


        </tr>

        {% endfor %}

    </tbody>
</table>