<table class="table table-striped m-0">
    <thead class="bg-tercero text-white ">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Fecha</th>
            <th>Notas</th>
            <th>Editar</th>

        </tr>
    </thead>
    <tbody>
        {% for stock in totalStock%}

        <tr class="align-middle {% if stock.cantidad > 10 %} bg-cuarto {% else %} bg-secondary {% endif %}">
            <td>{{stock.id}}</td>
            <td>{{stock.nombre}}</td>
            <td>Marca</td>
            <td>${{stock.precio}}</td>
            <td>{{stock.cantidad}}
                {{stock.unidad}}
            </td>
            <td>{{stock.fecha_compra|date:"Y-m-d"}}</td>
            <td>Notas</td>
            <td class=""><a href="" class="btn p-0"> Editar</a></td>





        </tr>
        {% endfor %}

    </tbody>
</table>