{% extends 'layout/layout.html' %}
{% load static %}
{% block body %}





<div class="container-fluid bg-quinto">


    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-sm-5 col-12 px-5 bg-cuarto pt-3">
            <div class="row px-4">
                {% if user.is_authenticated %}
                <h3 class="text-quinto">Bienvenid@ {{user.first_name}}</h3>
                {% endif %}
                <div class="col-12 text-start text-center my-2  border border-5 rounded
                     rounded-3 bg-cuarto border-quinto ">
                    <a href="{% url 'Ventas:ventasIndex' %}" class="text-decoration-none">
                        <div class="row my-auto">

                            <div class="col-12my-auto">
                                <h3 class="my-auto text-quinto">Realizar Venta</h3>
                            </div>

                        </div>
                    </a>
                </div><!-- Realizar Venta -->
                {% if user.rol == "Admin" or user.rol == "Dueña/o"%}
                <div class="col-12 text-start text-center my-2  border border-5 rounded
                     rounded-3 bg-cuarto border-quinto ">

                    <a href="{% url 'Compras:indexCompras' %}" class="text-decoration-none">
                        <div class="row my-auto">

                            <div class="col-12my-auto">
                                <h3 class="my-auto text-quinto">Compras</h3>
                            </div>

                        </div>
                    </a>
                </div> <!-- Compras -->

                {% endif %}
                {% if user.rol == "Admin" or user.rol == "Dueña/o"%}
                <div
                    class="col-12 text-start text-center my-2  border border-5 rounded rounded-3 bg-cuarto border-quinto ">

                    <a href="{% url 'Stock:stockIndex' %}" class="text-decoration-none">
                        <div class="row my-auto">

                            <div class="col-12my-auto">
                                <h3 class="my-auto text-quinto">Stock</h3>
                            </div>

                        </div>
                    </a>
                </div><!-- Stock -->
                {% endif %}
                <!-- <div
                    class="col-12 text-start text-center my-2  border border-5 rounded rounded-3 bg-cuarto border-quinto ">

                    <a href="{% url 'Clientes:clientesIndex' %}" class="text-decoration-none">

                        <div class="row my-auto">

                            <div class="col-12my-auto">
                                <h3 class="my-auto text-quinto">Clientes</h3>
                            </div>

                        </div>
                    </a>
                </div>-->
                {% if user.rol == "Admin" or user.rol == "Dueña/o"%}


                <div
                    class="col-12 text-start text-center my-2  border border-5 rounded rounded-3 bg-cuarto border-quinto ">

                    <a href="{% url 'Empleados:empleadosIndex' %}" class="text-decoration-none">

                        <div class="row my-auto">

                            <div class="col-12my-auto">
                                <h3 class="my-auto text-quinto">Empleados</h3>
                            </div>

                        </div>
                    </a>
                </div> <!-- Empleados -->
                {% endif %}

                <div
                    class="col-12 text-start text-center my-2  border border-5 rounded rounded-3 bg-cuarto border-quinto ">

                    <a href="{% url 'Menu:menuIndex' %}" class="text-decoration-none">

                        <div class="row my-auto">

                            <div class="col-12my-auto">
                                <h3 class="my-auto text-quinto">Menu</h3>
                            </div>

                        </div>
                    </a>
                </div> <!-- Menu -->
                          <div
                    class="col-12 text-start text-center my-2  border border-5 rounded rounded-3 bg-cuarto border-quinto ">

                    <a href="{% url 'tickets:ticketsIndex' %}" class="text-decoration-none">

                        <div class="row my-auto">

                            <div class="col-12my-auto">
                                <h3 class="my-auto text-quinto">Tickets</h3>
                            </div>

                        </div>
                    </a>
                </div> <!-- Tickets -->
                           <div
                    class="col-12 text-start text-center my-2  border border-5 rounded rounded-3 bg-cuarto border-quinto ">

                    <a href="{% url 'VentaMenuEliminado:VentaMenuEliminadoIndex' %}" class="text-decoration-none">

                        <div class="row my-auto">

                            <div class="col-12my-auto">
                                <h3 class="my-auto text-quinto">Cambios</h3>
                            </div>

                        </div>
                    </a>
                </div> <!-- VentaMenuElim -->
               <!--  <div
                    class="col-12 text-start  my-2 text-center border border-5 rounded rounded-3 bg-cuarto border-quinto ">

                    <a href="{% url 'Proveedores:proveedoresIndex' %}" class="text-decoration-none">
                        <div class="row my-auto">

                            <div class="col-12my-auto">
                                <h3 class="my-auto text-quinto">Proveedores</h3>
                            </div>

                        </div>
                    </a>
                </div> -->

                <div
                    class="col-12 text-start text-center my-2  border border-5 rounded rounded-3 bg-cuarto border-quinto ">

                    <a href="{% url 'Corte:corteDeCajaIndex' %}" class="text-decoration-none">

                        <div class="row my-auto">

                            <div class="col-12my-auto">
                                <h3 class="my-auto text-quinto ">Corte de caja</h3>
                            </div>

                        </div>
                    </a>
                </div> 
                <div
                    class="col-12 text-start  my-2 text-center border border-5 rounded rounded-3 bg-cuarto border-quinto ">

                    <a href="/signout" class="text-decoration-none">
                        <div class="row my-auto">

                            <div class="col- my-auto">
                                <h3 class="my-auto text-quinto  ">Cerrar sesion</h3>
                            </div>

                        </div>
                    </a>
                </div> <!-- Cerrar sesión -->

            </div>
        </div>
        <div class="col-5 p-0 d-none d-sm-block">
            <img src="{% static 'img/asd.jpg'%}" class="w-100 h-100" alt="" width="" id="output">
        </div>
    </div>
</div>
{% endblock %}