{% extends 'layout/layout.html' %}
{% load static %}
{% block body %}
<form action="{% url 'authentication:createAccount' %}" method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="container border border-3 my-5">
        <div class="row">
            <p class="fnTexto_Bold_Encabezado_006">Ingresar</p>

            <div class="col-4">
                Nombre
                {{form.as_p}}
            </div>
        </div>
    </div>
    <button type="submit"></button>
</form>
{% endblock %}