{% extends 'layout/layout.html' %}

{% load static %}
{% block body %}






<div class="container">
    <div class="row">

        <h2>Bienvenido por favor ingresa sesion</h2>
        <form action="{% url 'authentication:signin' %}" method="post">

            {% csrf_token %}
            <label for="">Correo</label>
            <input type="email" name="email" id="id_email">

            <label for="">Contraseña</label>
            <input type="password" name="password" id="id_password">
            <button type="submit">Ingresar</button>
        </form>
    </div>
</div>
{% endblock %}