{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid px-0 py-2">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto"> <!-- Agregamos la clase mx-auto aquí -->
                    <li class="nav-item px-sm-5 fnTexto_Bold_Encabezado_006 my-auto">
                        <a href="{% url 'authentication:index' %}"
                            class="text-black text-decoration-none nav-link active">
                            Inicio</a>
                    </li>
                    <li class="nav-item px-sm-5 fnTexto_Bold_Encabezado_006 my-auto">
                        <a href="{% url 'Ventas:ventasIndex' %}"
                            class="text-black text-decoration-none nav-link active"> Ventas</a>
                    </li>
                    <li class="nav-item px-sm-5 d-none d-sm-block my-auto">
                        <img src="{% static 'img/banner.jpg' %}" alt="Logo perron" width="100%" height="50px">
                    </li>
                    <li class="nav-item px-sm-5 fnTexto_Bold_Encabezado_006 my-auto">
                        <a href="{% url 'authentication:index' %}"
                            class="text-black text-decoration-none nav-link active"> Por definir</a>
                    </li>
                    <li class="nav-item px-sm-5 fnTexto_Bold_Encabezado_006 my-auto">
                        <a href="{% url 'authentication:index' %}"
                            class="text-black text-decoration-none nav-link active"> Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>